USE [GX_RPT]
GO
/****** Object:  StoredProcedure [dbo].[USP_RPT_NSTR_PERFORMANCE_TRACKER_FY21]    Script Date: 5/3/2021 4:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE  [dbo].[USP_RPT_NSTR_PERFORMANCE_TRACKER_FY22]
/*************************************************************************
** PARAMETERS:   None
**
** DESCRIPTION:  Pulls list of Northstar sales and their metadata in order to track performance by comparing plan numbers defined by finance.
**
** PROGRAMMER:     Jayden Cho
** DATE WRITTEN:   05/03/2021
**
** CHANGE HISTORY: 
**
** Usage:		EXEC dbo.[USP_RPT_NSTR_PERFORMANCE_TRACKER_FY22]
*************************************************************************/
AS 
SET NOCOUNT ON


-------------------------------------------------------CONSTRUCT TEMP TABLES-------------------------------------------------------
DECLARE @BEG_DT DATE = (SELECT MAX(SLS_PROC_WRK_DT) FROM GX_RPT.DBO.T_NSTR_PERFORMANCE_TRACKER_FY22) 

--SALES + CRMEM FOR APRIL 2020 - MARCH 2021 (FY21) ISMC & MHS ONLY 
IF OBJECT_ID('tempdb..#SLS') IS NOT NULL DROP TABLE #SLS;
SELECT	SO_PRC_DT AS 'ORDR_DT'
		,SLS_PROC_WRK_DT
		,SLS_CUST_CHN_ID
		,NULL AS CHN_ID_GNRL
		,CNTRC_LEAD_TP_ID
		,X.EM_ITEM_NUM
		,YYPRC_PRGTYP_CD
		,GNRC_FLG
		,GNRC_MS_FLG
		,SPLR_CHRGBK_REF_NUM
		,SUM(SLS_QTY) AS 'SLS_QTY'
		,SUM(SLS_AMT) AS 'SLS_AMT'
		,'' AS LEAD_TYPE
INTO #SLS
FROM	(SELECT SO_PRC_DT
			,SLS_PROC_WRK_DT
			,SLS_CUST_BUS_TYP_CD
			,SLS_CUST_CHN_ID
			,CNTRC_LEAD_TP_ID
			,EM_ITEM_NUM
			,YYPRC_PRGTYP_CD
			,GNRC_FLG
			,GNRC_MS_FLG
			,SPLR_CHRGBK_REF_NUM
			,SLS_QTY
			,SLS_AMT
		FROM BTSMART.SALES.P_SALE_ITEM
		WHERE SLS_PROC_WRK_DT > @BEG_DT AND SLS_PROC_WRK_DT <= CONVERT(DATE, '2022-03-31') 
				AND CUST_ACCT_ID NOT IN ('040036','040358','847022','630540','186016','715617','863349','884468','883147','715570','861852',
									'715570','861852','235553','884268','826540','235875','715618','715616','715619','715574')

		UNION ALL
		
		SELECT SO_PRC_DT
			,CR_MEMO_PROC_DT AS 'SLS_PROC_WRK_DT'
			,CUST_BUS_TYP_CD AS 'SLS_CUST_BUS_TYP_CD'
			,CUST_CHN_ID AS 'SLS_CUST_CHN_ID'
			,CNTRC_LEAD_ID AS 'CNTRC_LEAD_TP_ID'
			,EM_ITEM_NUM
			,YYPRC_PRGTYP_CD
			,GNRC_IND AS 'GNRC_FLG'
			,GNRC_MS_IND AS 'GNRC_MS_FLG'
			,CNTRC_REF_NUM AS 'SPLR_CHRGBK_REF_NUM'
			,CR_QTY AS 'SLS_QTY'
			,CR_EXT_AMT AS 'SLS_AMT'
		FROM BTSMART.SALES.P_CRMEM_ITEM
		WHERE CR_MEMO_PROC_DT > @BEG_DT AND CR_MEMO_PROC_DT <= CONVERT(DATE, '2022-03-31')  
				AND CUST_ACCT_ID NOT IN ('040036','040358','847022','630540','186016','715617','863349','884468','883147','715570','861852',
									'715570','861852','235553','884268','826540','235875','715618','715616','715619','715574')
		) X 

		JOIN		OPS_SS_MCKSQL74.REFERENCE.DBO.V_IW_EM_ITEM I 
		ON			X.EM_ITEM_NUM = I.EM_ITEM_NUM
		AND			I.SPLR_ACCT_NAM LIKE 'NORTHSTAR%'

WHERE SLS_CUST_CHN_ID NOT IN ('005','006','007','013','026','030','041','048','063','068','073','078','080','087','099','113','155','160','180',
'197','198','202','203','204','205','206','213','291','227','238','241','243','251','252','321','334','336','366','381','400',
'401','403','405','410','431','437','444','446','447','457','463','476','502','516','518','527','607','639','647','659','676',
'681','693','698','712','714','716','738','739','752','766','771','776','811','815','816','869','879','927','928','929','934',
'936','940','943','945','953','967','968','969','980','981','989','999','1000')
	
											
GROUP BY SO_PRC_DT 
		,SLS_PROC_WRK_DT
		,SLS_CUST_CHN_ID
		,CNTRC_LEAD_TP_ID
		,X.EM_ITEM_NUM
		,YYPRC_PRGTYP_CD
		,GNRC_FLG
		,GNRC_MS_FLG
		,SPLR_CHRGBK_REF_NUM;

--GROWTH CUST
--CUST_ACCT_ID -> SLS_CUST_CHN_ID -> UNION
IF OBJECT_ID('tempdb..#SLS_GROWTH') IS NOT NULL DROP TABLE #SLS_GROWTH;
SELECT	SO_PRC_DT AS 'ORDR_DT'
		,SLS_PROC_WRK_DT
		,CUST_ACCT_ID AS SLS_CUST_CHN_ID
		,'' CHN_ID_GNRL
		,CNTRC_LEAD_TP_ID
		,X.EM_ITEM_NUM
		,YYPRC_PRGTYP_CD
		,GNRC_FLG
		,GNRC_MS_FLG
		,SPLR_CHRGBK_REF_NUM
		,SUM(SLS_QTY) AS 'SLS_QTY'
		,SUM(SLS_AMT) AS 'SLS_AMT'
		,RL.LEAD_TYPE
INTO #SLS_GROWTH 
FROM	(SELECT SO_PRC_DT
			,SLS_PROC_WRK_DT
			,SLS_CUST_BUS_TYP_CD
			,SLS_CUST_CHN_ID
			,CUST_ACCT_ID
			,CNTRC_LEAD_TP_ID
			,EM_ITEM_NUM
			,YYPRC_PRGTYP_CD
			,GNRC_FLG
			,GNRC_MS_FLG
			,SPLR_CHRGBK_REF_NUM
			,SLS_QTY
			,SLS_AMT
		FROM BTSMART.SALES.P_SALE_ITEM
		WHERE SLS_PROC_WRK_DT > @BEG_DT AND SLS_PROC_WRK_DT <= CONVERT(DATE, '2022-03-31') --AND SLS_AMT > 0
				AND CUST_ACCT_ID IN ('040036','040358','847022','630540','186016','715617','863349','884468','883147','715570','861852',
									'715570','861852','235553','884268','826540','235875','715618','715616','715619','715574')

		UNION ALL
		
		SELECT SO_PRC_DT
			,CR_MEMO_PROC_DT AS 'SLS_PROC_WRK_DT'
			,CUST_BUS_TYP_CD AS 'SLS_CUST_BUS_TYP_CD'
			,CUST_CHN_ID AS 'SLS_CUST_CHN_ID'
			,CUST_ACCT_ID
			,CNTRC_LEAD_ID AS 'CNTRC_LEAD_TP_ID'
			,EM_ITEM_NUM
			,YYPRC_PRGTYP_CD
			,GNRC_IND AS 'GNRC_FLG'
			,GNRC_MS_IND AS 'GNRC_MS_FLG'
			,CNTRC_REF_NUM AS 'SPLR_CHRGBK_REF_NUM'
			,CR_QTY AS 'SLS_QTY'
			,CR_EXT_AMT AS 'SLS_AMT'
		FROM BTSMART.SALES.P_CRMEM_ITEM
		WHERE CR_MEMO_PROC_DT > @BEG_DT AND CR_MEMO_PROC_DT <= CONVERT(DATE, '2022-03-31') --AND CR_EXT_AMT > 0 
			AND CUST_ACCT_ID IN ('040036','040358','847022','630540','186016','715617','863349','884468','883147','715570','861852',
									'715570','861852','235553','884268','826540','235875','715618','715616','715619','715574')
		) X
					LEFT JOIN GX_RPT.DBO.T_RNA_CHAINS RC
					ON RC.CHN_ID = X.SLS_CUST_CHN_ID
					AND RC.ACTIVE_FLG = 'Y'

					LEFT OUTER JOIN GX_RPT.DBO.T_RNA_LEADS_HIST RL
					ON RL.CNTRC_LEAD_ID = X.CNTRC_LEAD_TP_ID
					AND CAST(X.SO_PRC_DT AS DATETIME) BETWEEN RL.EFF_DT AND RL.END_DT
					AND RL.CHN_ID_GNRL = RC.CHN_ID_GNRL
					
					JOIN		OPS_SS_MCKSQL74.REFERENCE.DBO.V_IW_EM_ITEM I 
		ON			X.EM_ITEM_NUM = I.EM_ITEM_NUM
		AND			I.SPLR_ACCT_NAM LIKE 'NORTHSTAR%'

GROUP BY SO_PRC_DT 
		,SLS_PROC_WRK_DT
		,CUST_ACCT_ID
		,CNTRC_LEAD_TP_ID
		,X.EM_ITEM_NUM
		,YYPRC_PRGTYP_CD
		,GNRC_FLG
		,GNRC_MS_FLG
		,SPLR_CHRGBK_REF_NUM
		,RL.LEAD_TYPE;

--UNION 2 ABOVE
IF OBJECT_ID('tempdb..#SLS_2') IS NOT NULL DROP TABLE #SLS_2;
SELECT X.* 
INTO #SLS_2
FROM (SELECT * FROM #SLS_GROWTH UNION ALL SELECT * FROM #SLS) X

--REPLICATE OPS_SS_MCKSQL74.GX_RPT.DBO.T_RNA_PRFT_HIST except columns unused
IF OBJECT_ID('tempdb..#T_ISMC_MHS_PRFT_HIST') IS NOT NULL DROP TABLE #T_ISMC_MHS_PRFT_HIST;
SELECT P.ORDR_DT
		,P.SLS_PROC_WRK_DT
		,P.SLS_CUST_CHN_ID
		,P.CHN_ID_GNRL
		,P.CNTRC_LEAD_TP_ID
		,P.LEAD_TYPE
		,CASE 	
			WHEN P.SLS_CUST_CHN_ID = '160' THEN 'INTER-DC TRANSFER' 
			WHEN P.YYPRC_PRGTYP_CD = '020' THEN 'NWN' 
			WHEN P.GNRC_FLG = 'N' THEN 'BRAND' 
			WHEN P.SPLR_CHRGBK_REF_NUM LIKE 'SG-%' and P.SPLR_CHRGBK_REF_NUM NOT LIKE 'SG-2%' THEN 'OS' 
			WHEN P.SPLR_CHRGBK_REF_NUM LIKE 'SG-2%' THEN 'OSS LEAD' 
			WHEN P.YYPRC_PRGTYP_CD = '013'  or  (P.YYPRC_PRGTYP_CD = '030' and P.GNRC_MS_FLG = 'Y') THEN 'MS' 
			WHEN P.YYPRC_PRGTYP_CD = '030' OR P.CNTRC_LEAD_TP_ID IS NULL OR P.CNTRC_LEAD_TP_ID in (150969, 009104) 
							OR L.LEAD_NAME LIKE '%NBOR%'  THEN 'NONSOURCE' 
			ELSE 'CONTRACT'                                               
		END PROGRAM	
		,P.EM_ITEM_NUM
		,SUM(P.SLS_QTY) AS 'SLS_QTY'
		,SUM(P.SLS_AMT) AS 'SLS_AMT'
		,SUM(P.SLS_AMT) AS 'EXT_NET' 
		,SUM(P.SLS_AMT) AS 'EXT_COST' 
INTO #T_ISMC_MHS_PRFT_HIST

FROM #SLS_2 P		JOIN REFERENCE.DBO.T_CMS_LEAD L ON P.CNTRC_LEAD_TP_ID = L.LEAD 
--select distinct LEAD from REFERENCE.DBO.T_CMS_LEAD L where LEAD_NAME LIKE '%NBOR%' 
WHERE P.SLS_CUST_CHN_ID <> '160'

GROUP BY	P.ORDR_DT
		,P.SLS_PROC_WRK_DT
		,P.SLS_CUST_CHN_ID
		,P.CHN_ID_GNRL
		,P.CNTRC_LEAD_TP_ID
		,P.LEAD_TYPE
		,CASE 	
			WHEN P.SLS_CUST_CHN_ID = '160' THEN 'INTER-DC TRANSFER' 
			WHEN P.YYPRC_PRGTYP_CD = '020' THEN 'NWN' 
			WHEN P.GNRC_FLG = 'N' THEN 'BRAND' 
			WHEN P.SPLR_CHRGBK_REF_NUM LIKE 'SG-%' and P.SPLR_CHRGBK_REF_NUM NOT LIKE 'SG-2%' THEN 'OS' 
			WHEN P.SPLR_CHRGBK_REF_NUM LIKE 'SG-2%' THEN 'OSS LEAD' 
			WHEN P.YYPRC_PRGTYP_CD = '013'  or  (P.YYPRC_PRGTYP_CD = '030' and P.GNRC_MS_FLG = 'Y') THEN 'MS' 
			WHEN P.YYPRC_PRGTYP_CD = '030' OR P.CNTRC_LEAD_TP_ID IS NULL OR P.CNTRC_LEAD_TP_ID in (150969, 009104) 
							OR L.LEAD_NAME LIKE '%NBOR%'  THEN 'NONSOURCE' 
			ELSE 'CONTRACT'                                               
		END 	
		,P.EM_ITEM_NUM;

--- EXT_COST: MERGE ON EM_ITEM_NUM & PROC_DT

--- MULTISOURCE PROGRAMS
--- Uses "MS DN3", COST_ID = 66
UPDATE S
SET    EXT_COST = MSD.AMT * S.SLS_QTY
FROM   #T_ISMC_MHS_PRFT_HIST S 
              INNER JOIN GEPRS_DNC.DBO.T_ITEM_COST MSD
              ON MSD.EM_ITEM_NUM = S.EM_ITEM_NUM
              AND MSD.COST_ID = 66 --CP
              AND S.ORDR_DT BETWEEN MSD.EFF_DT AND MSD.END_DT
WHERE  S.PROGRAM = 'MS';

--- ONESTOP/SGX SALES
--- COST_ID = 1855
UPDATE S
SET    EXT_COST = MSD.AMT * S.SLS_QTY
FROM   #T_ISMC_MHS_PRFT_HIST S 
              INNER JOIN GEPRS_DNC.DBO.T_ITEM_COST MSD
              ON MSD.EM_ITEM_NUM = S.EM_ITEM_NUM
              AND MSD.COST_ID = 1855 --NCP
              AND S.ORDR_DT BETWEEN MSD.EFF_DT AND MSD.END_DT
WHERE  S.PROGRAM = 'OS';


--------------------------------------APPEND #T_ISMC_MHS_PRFT_HIST WITH OPS_SS_MCKSQL74.GX_RPT.DBO.T_RNA_PRFT_HIST--------------------------------------
IF OBJECT_ID('tempdb..#T_RNA_ISMC_MHS_PRFT_HIST') IS NOT NULL DROP TABLE #T_RNA_ISMC_MHS_PRFT_HIST;
SELECT * INTO #T_RNA_ISMC_MHS_PRFT_HIST
FROM (SELECT ORDR_DT, SLS_PROC_WRK_DT, SLS_CUST_CHN_ID, CHN_ID_GNRL, CNTRC_LEAD_TP_ID, LEAD_TYPE, PROGRAM, EM_ITEM_NUM, SLS_QTY, SLS_AMT, EXT_NET, EXT_COST
		FROM #T_ISMC_MHS_PRFT_HIST

		UNION ALL

		SELECT ORDR_DT,	SLS_PROC_WRK_DT, SLS_CUST_CHN_ID, CHN_ID_GNRL, CNTRC_LEAD_TP_ID, LEAD_TYPE, PROGRAM, EM_ITEM_NUM, SLS_QTY, SLS_AMT, EXT_NET, EXT_COST
		FROM OPS_SS_MCKSQL74.GX_RPT.DBO.T_RNA_PRFT_HIST) X
WHERE SLS_PROC_WRK_DT > @BEG_DT AND SLS_PROC_WRK_DT <= CONVERT(DATE, '2022-03-31');

--GET ALL NORTHSTAR ITEMS AND DATES THEY FIRST SHOWED UP ON THE LEADS
IF OBJECT_ID('tempdb..#FIRST_DATE') IS NOT NULL DROP TABLE #FIRST_DATE;
SELECT		LH.LEAD, LH.EM_ITEM_NUM, I.NDC_NUM, I.ITEM_ACTVY_CD, MIN(LH.BEG_DT) BEG_DT

INTO		#FIRST_DATE
FROM		OPS_SS_MCKSQL74.REFERENCE.DBO.T_CMS_LEAD_ITEM_HIST LH

	INNER JOIN	(SELECT DISTINCT CNTRC_LEAD_ID FROM OPS_SS_MCKSQL74.GX_RPT.DBO.T_RNA_LEADS_HIST) RL
	ON			LH.LEAD = RL.CNTRC_LEAD_ID

	INNER JOIN	OPS_SS_MCKSQL74.REFERENCE.DBO.V_IW_EM_ITEM I
	ON			LH.EM_ITEM_NUM = I.EM_ITEM_NUM

WHERE		I.SPLR_ACCT_NAM LIKE 'NORTHSTAR%'
GROUP BY	LH.LEAD, LH.EM_ITEM_NUM, I.NDC_NUM, I.ITEM_ACTVY_CD;

--GET LAUNCH ITEMS (DEVELOPED FROM NS_RPT.dbo.USP_RPT_NS_LAUNCH_EM ON MCKSQL74)
IF OBJECT_ID('tempdb..#NS_LAUNCH_ITEMS') IS NOT NULL DROP TABLE #NS_LAUNCH_ITEMS;
SELECT	I.NDC_NUM, S.EM_ITEM_NUM, RTRIM(I.SELL_DSCR) SELL_DSCR, MIN(S.PROC_DT) FIRST_SALE_DT
			,CASE WHEN SELL_DSCR LIKE '%ORC' THEN 'RELABELED' ELSE 'ACTIVE' END AS SKU_TYPE
INTO	#NS_LAUNCH_ITEMS
FROM	OPS_SS_MCKSQL74.GX_RPT.DBO.T_NSTAR_SALES_HIST S WITH (NOLOCK)
		INNER JOIN REFERENCE.DBO.T_IW_EM_ITEM I WITH (NOLOCK)
		ON I.EM_ITEM_NUM = S.EM_ITEM_NUM
WHERE	NDC_NUM LIKE '16714%' 
		OR NDC_NUM LIKE '72603%'
		OR SPLR_ACCT_ID IN ('77561','77564','77565','77573','77574','77575','77568','77579')
GROUP BY I.NDC_NUM, S.EM_ITEM_NUM, I.SELL_DSCR
ORDER BY MIN(S.PROC_DT);

--CURRENT ACTIVE ITEM
IF OBJECT_ID('tempdb..#CURR_ACTIVE_ITEM') IS NOT NULL DROP TABLE #CURR_ACTIVE_ITEM;
SELECT		CASE WHEN #FIRST_DATE.ITEM_ACTVY_CD = 'A' THEN #FIRST_DATE.EM_ITEM_NUM ELSE V_IW_EM_ITEM.EM_ITEM_NUM END EM_ITEM_NUM
			,#FIRST_DATE.NDC_NUM
INTO		#CURR_ACTIVE_ITEM
FROM		#FIRST_DATE
	JOIN		REFERENCE.dbo.V_IW_EM_ITEM
	ON			#FIRST_DATE.NDC_NUM = V_IW_EM_ITEM.NDC_NUM
	AND			V_IW_EM_ITEM.ITEM_ACTVY_CD = 'A'
	AND			#FIRST_DATE.NDC_NUM <> ''

GROUP BY	CASE WHEN #FIRST_DATE.ITEM_ACTVY_CD = 'A' THEN #FIRST_DATE.EM_ITEM_NUM ELSE V_IW_EM_ITEM.EM_ITEM_NUM END
			,#FIRST_DATE.NDC_NUM;

--DECLARE VARIABLES
DECLARE @PREV_MON_END_DT DATE = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1);
DECLARE @CURR_DT DATE = CAST(GETDATE() AS DATE);
DECLARE @CURR_FY CHAR(4) = (SELECT FY_YEAR_NUM FROM GX_RPT.dbo.T_CAL WHERE CAL_DT = @CURR_DT);
DECLARE @FY_BEG_DT DATE = (SELECT MIN(CAL_DT) FROM GX_RPT.dbo.T_CAL WHERE FY_YEAR_NUM = @CURR_FY);
DECLARE @FY_END_DT DATE = (SELECT MAX(CAL_DT) FROM GX_RPT.dbo.T_CAL WHERE FY_YEAR_NUM = @CURR_FY);

DECLARE @SALES_START_FY CHAR(4) = @CURR_FY - 3;
DECLARE @SALES_START_DT DATE = DATEADD(DAY,1,DATEADD(YEAR,-3,@PREV_MON_END_DT));

DECLARE @CURR_MON_START_DT DATE = DATEADD(DAY, 1, @PREV_MON_END_DT);
DECLARE @THREE_MON_START_DT DATE = DATEADD(MONTH, -3, @CURR_MON_START_DT);

--PREV FY TABLE
IF OBJECT_ID('tempdb..#PREV_FY') IS NOT NULL DROP TABLE #PREV_FY;
CREATE TABLE #PREV_FY (FY CHAR(4))

WHILE	@SALES_START_FY < @CURR_FY

BEGIN
	INSERT INTO #PREV_FY SELECT @SALES_START_FY;

	SET @SALES_START_FY = @SALES_START_FY + 1;
END

SET @SALES_START_FY = (SELECT FY_YEAR_NUM FROM GX_RPT.dbo.T_CAL WHERE CAL_DT = @SALES_START_DT);

IF OBJECT_ID('tempdb..#TCAL') IS NOT NULL DROP TABLE #TCAL;
SELECT	YR_MONTH
		,FY_YEAR_NUM
		,MAX(SELL_DAY_NUM) MTH_MAX_SELL_DAYS 
INTO	#TCAL
FROM	GX_RPT.DBO.T_CAL 
WHERE	CAL_DT >= @SALES_START_DT 
GROUP BY YR_MONTH,FY_YEAR_NUM;

IF OBJECT_ID('tempdb..#T_CAL_DTS') IS NOT NULL DROP TABLE #T_CAL_DTS;
SELECT	CAL_DT
		,SELL_DAY_NUM
INTO	#T_CAL_DTS
FROM	GX_RPT.dbo.T_CAL 
WHERE	CAL_DT BETWEEN @SALES_START_DT AND @CURR_DT;

-------------------------------------------------------------SALES INFORMATION-------------------------------------------------------------
IF OBJECT_ID('tempdb..#TEMP1') IS NOT NULL DROP TABLE #TEMP1;
SELECT	X.*
		,CASE	WHEN X.SLS_CUST_CHN_ID IN ('026','113','321','334','444','516','647','676','693','712','815','943','981','041','816','945') THEN 'RNA' --,'041','816','945'
				WHEN X.SLS_CUST_CHN_ID IN ('048','068','078','080','197','202','227','243','244','252','336','431','607','639','659','766','776','869','929','953','980') THEN 'iRNA' 
				ELSE 'OTHER' END CUST_TYP
		,CASE	WHEN LEAD_TYPE_NEW = 'Primary' AND LAUNCH_ITEM = 'Y' AND X.SLS_CUST_CHN_ID  NOT IN ('048','068','078','080','197','202','227','243','244','252','336','431','607','639','659','766','776','869','929','953','980') THEN 'NEW AWARD - LAUNCH PIPELINE'
				WHEN LEAD_TYPE_NEW = 'Primary' AND NEW_AWARD = 'Y' AND X.SLS_CUST_CHN_ID  NOT IN ('026','113','321','334','444','516','647','676','693','712','815','943','981') THEN 'NEW AWARD - COMMERCIALIZATION'
				WHEN LEAD_TYPE_NEW = 'Primary' AND NEW_AWARD = 'N' THEN 'EXISTING AWARD'
				ELSE 'OTHER' END PURCH_TYP
INTO	#TEMP1
FROM	(
		SELECT		P.SLS_PROC_WRK_DT
					,TCAL.FY_YEAR_NUM FY
					,RC.CHN_ID_GNRL
					,CASE WHEN P.SLS_CUST_CHN_ID IN ('040036','040358','847022','630540','186016','715617','863349','884468','883147','715570','861852',
									'715570','861852','235553','884268','826540','235875','715618','715616','715619','715574') THEN 'YES' ELSE 'NO' END GR_CUST_flag
					,CASE WHEN P.SLS_CUST_CHN_ID = '693' THEN 'EXPRESS SCRIPTS' ELSE RC.CHN_NAM_GNRL END CHN_NAM_GNRL
					,SLS_CUST_CHN_ID
					,I.GNRC_NAM
					,I.GNRC_ID GCN
					,P.EM_ITEM_NUM
					,I.NDC_NUM
					,I.SELL_DSCR
					,ISNULL(P.LEAD_TYPE,'MS') LEAD_TYPE_NEW
					,CASE WHEN FD.EM_ITEM_NUM IS NOT NULL AND (ISNULL(CUST_TYP,'') NOT IN ('CON','FUL') OR P.CHN_ID_GNRL = '22') THEN 'Y' ELSE 'N' END NEW_AWARD --RAD
					,CASE WHEN NL.EM_ITEM_NUM IS NOT NULL THEN 'Y' ELSE 'N' END LAUNCH_ITEM
					,P.PROGRAM
					,#CURR_ACTIVE_ITEM.EM_ITEM_NUM CURR_ACTIVE_ITEM
					,T_CAL_DTS.SELL_DAY_NUM
					,TCAL.MTH_MAX_SELL_DAYS
					,SUM(EXT_NET) EXT_NET
					,SUM(SLS_QTY) SLS_QTY
					,SUM(SLS_AMT) GROSS_SALES
					,CASE	WHEN T_NSTAR_COST.TOTAL_COST IS NOT NULL THEN SUM(SLS_QTY) * T_NSTAR_COST.TOTAL_COST
							ELSE SUM(P.EXT_COST) END EXT_COST
					,CASE	WHEN P.SLS_PROC_WRK_DT BETWEEN @CURR_MON_START_DT AND @CURR_DT THEN 'C'
							WHEN P.SLS_PROC_WRK_DT BETWEEN @THREE_MON_START_DT AND @PREV_MON_END_DT THEN 'P'
							ELSE 'X' END PURCH_TIME_FLG
		FROM		#T_RNA_ISMC_MHS_PRFT_HIST P

		-- JOIN ON NEW COST TABLE USING ORDER DATE AND CHECK TO MAKE SURE SOMETHING IS ACTUALLY THERE OTHERWISE USE CURRENT COST AMOUNT

		JOIN		OPS_SS_MCKSQL74.REFERENCE.DBO.V_IW_EM_ITEM I 
		ON			P.EM_ITEM_NUM = I.EM_ITEM_NUM
		AND			I.SPLR_ACCT_NAM LIKE 'NORTHSTAR%'
		AND			P.PROGRAM IN ('OS','MS','CONTRACT', 'NONSOURCE')
		AND			P.SLS_PROC_WRK_DT BETWEEN @SALES_START_DT AND @CURR_DT

		LEFT JOIN	#CURR_ACTIVE_ITEM
		ON			I.NDC_NUM = #CURR_ACTIVE_ITEM.NDC_NUM
				
		LEFT JOIN	#FIRST_DATE FD -- ALL DAYS ON NEW AWARDS
		ON			P.EM_ITEM_NUM =FD.EM_ITEM_NUM
		AND			P.CNTRC_LEAD_TP_ID = FD.LEAD
		AND			P.SLS_PROC_WRK_DT BETWEEN FD.BEG_DT AND DATEADD(yyyy,1,FD.BEG_DT) --Transaction within a year from the First date it showed up on the leads 
			

		LEFT JOIN	#NS_LAUNCH_ITEMS NL -- BEG FY17 DAYS ON LAUNCHES
		ON			P.EM_ITEM_NUM = NL.EM_ITEM_NUM
		AND			P.SLS_PROC_WRK_DT BETWEEN NL.FIRST_SALE_DT AND DATEADD(yyyy,1,NL.FIRST_SALE_DT)
			
		LEFT JOIN	OPS_SS_MCKSQL74.REFERENCE.dbo.T_IW_CUST_GRP CG
		ON			P.SLS_CUST_CHN_ID = CG.CUST_GRP_CD
		
		LEFT JOIN	OPS_SS_MCKSQL74.GX_RPT.DBO.T_RNA_CHAINS RC
		ON			P.SLS_CUST_CHN_ID = RC.CHN_ID
			
		LEFT JOIN	#TCAL TCAL
		ON			TCAL.YR_MONTH = LEFT(CONVERT(varchar, P.SLS_PROC_WRK_DT,112),6)

		LEFT JOIN	#T_CAL_DTS T_CAL_DTS
		ON			T_CAL_DTS.CAL_DT = CAST(P.SLS_PROC_WRK_DT AS DATE)

		LEFT JOIN	OPS_SS_MCKSQL74.GX_RPT.dbo.T_NSTAR_COST
		ON			P.EM_ITEM_NUM = T_NSTAR_COST.EM_ITEM_NUM
		AND			P.ORDR_DT BETWEEN T_NSTAR_COST.PRC_BEG_DT AND T_NSTAR_COST.PRC_END_DT
		AND			T_NSTAR_COST.TYPE_IND = 'R'

		GROUP BY	P.SLS_PROC_WRK_DT
					,TCAL.FY_YEAR_NUM
					,RC.CHN_ID_GNRL
					,CASE WHEN P.SLS_CUST_CHN_ID IN ('040036','040358','847022','630540','186016','715617','863349','884468','883147','715570','861852',
									'715570','861852','235553','884268','826540','235875','715618','715616','715619','715574') THEN 'YES' ELSE 'NO' END
					,RC.CHN_NAM_GNRL
					,P.SLS_CUST_CHN_ID
					,I.GNRC_NAM
					,I.GNRC_ID
					,P.EM_ITEM_NUM
					,I.NDC_NUM
					,I.SELL_DSCR
					,ISNULL(P.LEAD_TYPE,'MS')
					,CASE WHEN FD.EM_ITEM_NUM IS NOT NULL AND (ISNULL(CUST_TYP,'') NOT IN ('CON','FUL') OR P.CHN_ID_GNRL = '22') THEN 'Y' ELSE 'N' END
					,CASE WHEN NL.EM_ITEM_NUM IS NOT NULL THEN 'Y' ELSE 'N' END
					,P.PROGRAM
					,#CURR_ACTIVE_ITEM.EM_ITEM_NUM
					,T_CAL_DTS.SELL_DAY_NUM
					,TCAL.MTH_MAX_SELL_DAYS
					,T_NSTAR_COST.TOTAL_COST
		) X;

--DROP TABLE GX_RPT.DBO.T_NSTR_PERFORMANCE_TRACKER_FY22;
INSERT INTO GX_RPT.DBO.T_NSTR_PERFORMANCE_TRACKER_FY22
SELECT DISTINCT * --INTO GX_RPT.DBO.T_NSTR_PERFORMANCE_TRACKER_FY22
FROM #TEMP1;