USE [GX_RPT]
GO
/****** Object:  StoredProcedure [dbo].[USP_RPT_NSTR_VALUE_TRACKING]    Script Date: 11/18/2021 10:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE  [dbo].[USP_RPT_NSTR_VALUE_TRACKING]
--/*************************************************************************
--** PARAMETERS:   None
--**
--** DESCRIPTION:  UPDATES DATA (INCREMENTAL) FOR NORTHSTAR AWARD TRACKER THAT COMPARES ACTUAL VS PROJECTED FOR EACH BID MADE BY NSTR COMMERCIAL
--**
--** PROGRAMMER:     Jayden Cho
--** DATE WRITTEN:   03/05/2021
--**
--** CHANGE HISTORY: 
--**
--** Usage:		EXEC dbo.[USP_RPT_NSTR_VALUE_TRACKING]
--*************************************************************************/
AS 
BEGIN

SET NOCOUNT ON;

IF OBJECT_ID('tempdb..#NS_ITEMS') IS NOT NULL DROP TABLE #NS_ITEMS;   -- select * from [GX_RPT].[dbo].[CURR_NORTHSTAR_ITEMS] where GNRC_ID = '50272'
select * 
into #NS_ITEMS
from [GX_RPT].[dbo].[CURR_NORTHSTAR_ITEMS]

DECLARE @BEG_DT DATE = (SELECT MAX(SLS_PROC_WRK_DT) FROM DASHBOARDS.DBO.T_GX_NSTR_VALUE_TRACKING)
DECLARE @END_DT DATE = GETDATE();   

IF object_id('tempdb..#sls') is not null drop table #sls          
Select * 
into #sls    
from 
(
		SELECT P.EM_ITEM_NUM,
				P.YYITM_ECON_ORIG_ITEM_NUM AS ORIGINAL_ECONO, 
				P.FILL_DC_ID AS FILL_DC_ID,
				--O.SELL_DSCR AS ORIGINAL_ECONO_SELL_DESC,
				ITM.[NDC_NUM],
				ITM.[SELL_DSCR], 
				ITM.[GNRC_ID], 
				ITM.[GNRC_NAM],
				--ITM.EQV_ID,
				--ITM.FAMILY_ID,
				--ITM.FAMILY_DESC,
				P.CUST_ACCT_ID, 
				L.LEAD_TYPE, -- P.CNTRC_LEAD_TP_ID, 
				P.SLS_PROC_WRK_DT,
				LEFT(CONVERT(VARCHAR, P.SLS_PROC_WRK_DT,112),6) YR_MONTH,
				P.SLS_NATL_GRP_CD,
				P.SLS_CUST_CHN_ID,
				CASE 
				WHEN SLS_CUST_CHN_ID = '160' THEN 'INTER-DC TRANSFER' 
				WHEN [YYPRC_PRGTYP_CD] = '020' THEN 'NWN' 
				WHEN GNRC_FLG = 'N' THEN 'BRAND' 
				WHEN SPLR_CHRGBK_REF_NUM LIKE 'SG-%' and SPLR_CHRGBK_REF_NUM NOT LIKE 'SG-2%' THEN 'ONESTOP' 
				WHEN SPLR_CHRGBK_REF_NUM LIKE 'SG-2%' THEN 'OSS LEAD' 
				WHEN [YYPRC_PRGTYP_CD] = '013'  or  ([YYPRC_PRGTYP_CD] = '030' and GNRC_MS_FLG = 'Y') THEN 'MS' 
				WHEN [YYPRC_PRGTYP_CD] = '030' OR CNTRC_LEAD_TP_ID IS NULL OR CNTRC_LEAD_TP_ID in (150969, 009104) OR LEAD_NAME LIKE '%NBOR%'  THEN 'NONSOURCE' 
				ELSE 'CONTRACT'                                               
				END PGM,
				--ITM.NS_Item_flg,
				--ITM.RAD_Inc_flg,
				--ITM.OS_Item_flg,
				CASE	WHEN P.ITEM_SUB_CD = 'Y' THEN 'OVERRIDE' 
						WHEN P.SUB_FLG = 'Y' THEN 'SUB'
						ELSE 'FILLED' END SUB_flg,

				CASE	WHEN P.ITEM_SUB_CD IN ('O','P') THEN 'OMIT'		
				WHEN P.ITEM_SUB_CD IN ('B','A') THEN 'ALWAYS'	
				ELSE ''	
				END SUB_TYPE,			


				SUM(P.SLS_QTY) SLS_QTY,
				SUM(CAST(P.YYQTY_ORD_ORIG_ORD_QTY AS FLOAT)) AS ORD_QTY,
				SUM(P.SLS_QTY * ITM.TOTAL_PKG_SIZE) as PILLS,
				--SUM(P.DC_COST_AMT) DC_COST_AMT,
				SUM(P.SLS_AMT) SLS_AMT
				
	   FROM   BTSMART.SALES.P_SALE_ITEM P	INNER JOIN #NS_ITEMS N ON P.EM_ITEM_NUM = N.EM_ITEM_NUM	
											INNER JOIN          REFERENCE.DBO.T_IW_EM_ITEM ITM                   ON P.EM_ITEM_NUM = ITM.EM_ITEM_NUM     -- select top 10 * from BTSMART.SALES.P_SALE_ITEM P 
										   LEFT OUTER JOIN    REFERENCE.DBO.T_CMS_LEAD L     ON P.CNTRC_LEAD_TP_ID = L.LEAD
										   --left join OPS_SS_MCKSQL74.GX_RPT.dbo.T_NSTAR_COST NSCOST on  P.EM_ITEM_NUM = NSCOST.EM_ITEM_NUM
													--											AND (P.SLS_PROC_WRK_DT BETWEEN NSCOST.prc_beg_dt AND NSCOST.prc_end_dt)
										   --LEFT JOIN  GEPRS_DNC.dbo.T_ITEM_COST DN3			ON DN3.EM_ITEM_NUM = P.EM_ITEM_NUM 
													--											AND P.SLS_PROC_WRK_DT BETWEEN DN3.EFF_DT and DN3.END_DT 
													--											AND DN3.COST_ID = 34  -- 34= OS Dead Net 3
										   --LEFT JOIN (select distinct EM_ITEM_NUM, SELL_DSCR from [GX_RPT].[dbo].[CURR_NORTHSTAR_ITEMS]	) O
											--			ON P.YYITM_ECON_ORIG_ITEM_NUM = O.EM_ITEM_NUM
											
												
	   WHERE  P.SLS_PROC_WRK_DT > @BEG_DT AND P.SLS_PROC_WRK_DT <= @END_DT
					AND P.GNRC_FLG = 'Y'
					AND P.SLS_CUST_BUS_TYP_CD NOT IN ('18','19','20') --EXCLUDE MCK BUS UNITS                                                                                                                                                          
					AND (P.SLS_CUST_BUS_TYP_CD <> 20 OR P.SLS_CUST_CHN_ID <>'000') 
					AND P.SLS_CUST_CHN_ID <> '160'	
					            
	   GROUP BY  P.EM_ITEM_NUM,
				 P.YYITM_ECON_ORIG_ITEM_NUM, 
				 P.FILL_DC_ID,
				 --O.SELL_DSCR,
				 ITM.[NDC_NUM],
				 ITM.[SELL_DSCR], 
				 ITM.[GNRC_ID], 
				 ITM.[GNRC_NAM],
				 --ITM.EQV_ID,
				 --ITM.FAMILY_ID,
				 --ITM.FAMILY_DESC,
				 P.CUST_ACCT_ID, 
				 L.LEAD_TYPE, -- P.CNTRC_LEAD_TP_ID, 
				 P.SLS_PROC_WRK_DT,
				 LEFT(CONVERT(VARCHAR, P.SLS_PROC_WRK_DT,112),6),
				 SLS_NATL_GRP_CD,
				 P.SLS_CUST_CHN_ID,
				 CASE 
				 WHEN SLS_CUST_CHN_ID = '160' THEN 'INTER-DC TRANSFER' 
				 WHEN [YYPRC_PRGTYP_CD] = '020' THEN 'NWN' 
				 WHEN GNRC_FLG = 'N' THEN 'BRAND' 
				 WHEN SPLR_CHRGBK_REF_NUM LIKE 'SG-%' and SPLR_CHRGBK_REF_NUM NOT LIKE 'SG-2%' THEN 'ONESTOP' 
				 WHEN  SPLR_CHRGBK_REF_NUM LIKE 'SG-2%' THEN 'OSS LEAD' 
				 WHEN [YYPRC_PRGTYP_CD] = '013'  or  ([YYPRC_PRGTYP_CD] = '030' and GNRC_MS_FLG = 'Y') THEN 'MS' 
				 WHEN [YYPRC_PRGTYP_CD] = '030' OR CNTRC_LEAD_TP_ID IS NULL OR CNTRC_LEAD_TP_ID in (150969, 009104) OR LEAD_NAME LIKE '%NBOR%'  THEN 'NONSOURCE' 
				 ELSE 'CONTRACT'                                               
				 END,
				 --ITM.NS_Item_flg,
				 --ITM.RAD_Inc_flg,
				 --ITM.OS_Item_flg,
				 CASE	WHEN P.ITEM_SUB_CD = 'Y' THEN 'OVERRIDE' 
						WHEN P.SUB_FLG = 'Y' THEN 'SUB'
						ELSE 'FILLED' END,

				CASE	WHEN P.ITEM_SUB_CD IN ('O','P') THEN 'OMIT'		
						WHEN P.ITEM_SUB_CD IN ('B','A') THEN 'ALWAYS'	
						ELSE ''	
				END


		UNION ALL


		SELECT  P.EM_ITEM_NUM,
				'' AS ORIGINAL_ECONO,
				'' AS FILL_DC_ID,
				--'' AS ORIGINAL_ECONO_SELL_DESC,
				ITM.[NDC_NUM],
				ITM.[SELL_DSCR], 
				ITM.[GNRC_ID], 
				ITM.[GNRC_NAM],
				--ITM.EQV_ID,
				--ITM.FAMILY_ID,
				--ITM.FAMILY_DESC,
				P.CUST_ACCT_ID,  
				L.LEAD_TYPE,  -- P.CNTRC_LEAD_ID,
				CR_MEMO_PROC_DT SLS_PROC_WRK_DT,
				LEFT(CONVERT(VARCHAR, P.CR_MEMO_PROC_DT,112),6) YR_MONTH,
				NATL_GRP_CD,
				P.CUST_CHN_ID,
				CASE 
					WHEN CUST_CHN_ID = '160' THEN 'INTER-DC TRANSFER' 
					WHEN [YYPRC_PRGTYP_CD] = '020' THEN 'NWN' 
					--WHEN GNRC_IND <> 'Y' THEN 'BRAND' 
					WHEN CNTRC_REF_NUM LIKE 'SG-%' and CNTRC_REF_NUM NOT LIKE 'SG-2%' THEN 'ONESTOP' 
					WHEN CNTRC_REF_NUM LIKE 'SG-2%' THEN 'OSS LEAD' 
					WHEN [YYPRC_PRGTYP_CD] = '013'  or  ([YYPRC_PRGTYP_CD] = '030' and GNRC_MS_IND = 'Y') THEN 'MS' 
					WHEN [YYPRC_PRGTYP_CD] = '030' OR CNTRC_LEAD_ID IS NULL OR CNTRC_LEAD_ID in (150969, 009104) OR LEAD_NAME LIKE '%NBOR%'  THEN 'NONSOURCE' 
					ELSE 'CONTRACT'                                               
				END PGM,
				--ITM.NS_Item_flg,
				--ITM.RAD_Inc_flg,
				--ITM.OS_Item_flg,
				'CRMEM' SUB_flg,
				'CRMEM' SUB_TYPE,
				--CASE WHEN P.EM_ITEM_NUM = ITM.EM_ITEM_NUM  and ITM.NS_Item_flg = 'NS_Launch_Item' then NSCOST.TOTAL_COST 
				--else 0 
				--end as Landed_Cost,
				SUM(P.CR_QTY) SLS_QTY,
				0 ORD_QTY,
				SUM(P.CR_QTY * ITM.TOTAL_PKG_SIZE) as PILLS,
				--SUM(P.ITEM_EXT_COST),
				SUM(P.CR_EXT_AMT) SLS_AMT
				

		FROM   BTSMART.SALES.P_CRMEM_ITEM P  INNER JOIN #NS_ITEMS N ON P.EM_ITEM_NUM = N.EM_ITEM_NUM
											 INNER JOIN           REFERENCE.DBO.T_IW_EM_ITEM ITM                      ON P.EM_ITEM_NUM = ITM.EM_ITEM_NUM     -- select top 10 * from BTSMART.SALES.P_CRMEM_ITEM P 
											 LEFT OUTER JOIN      REFERENCE.DBO.T_CMS_LEAD L          ON P.CNTRC_LEAD_ID = L.LEAD
											 --left join OPS_SS_MCKSQL74.GX_RPT.dbo.T_NSTAR_COST NSCOST ON  P.EM_ITEM_NUM = NSCOST.EM_ITEM_NUM
												--												          AND (P.CR_MEMO_PROC_DT BETWEEN NSCOST.prc_beg_dt AND NSCOST.prc_end_dt)
											 --LEFT JOIN  GEPRS_DNC.dbo.T_ITEM_COST DN3			      ON DN3.EM_ITEM_NUM = P.EM_ITEM_NUM 
												--												          AND P.CR_MEMO_PROC_DT BETWEEN DN3.EFF_DT and DN3.END_DT 
												--												          AND DN3.COST_ID = 34  -- 34= OS Dead Net 3	
												-- select top 10 * from GEPRS_DNC.dbo.T_ITEM_COST
		WHERE       P.CR_MEMO_PROC_DT > @BEG_DT AND P.CR_MEMO_PROC_DT <= @END_DT
					AND P.GNRC_IND = 'Y'
					AND P.CUST_BUS_TYP_CD NOT IN ('18','19','20') --EXCLUDE MCK BUS UNITS                                                                                                                                                          
					AND (P.CUST_BUS_TYP_CD <> 20 OR P.CUST_CHN_ID <>'000') 
					AND P.CUST_CHN_ID <> '160'	
            
		GROUP BY    P.EM_ITEM_NUM,
					ITM.[NDC_NUM],
					ITM.[SELL_DSCR], 
					ITM.[GNRC_ID], 
					ITM.[GNRC_NAM],
					--ITM.EQV_ID,
					--ITM.FAMILY_ID,
					--ITM.FAMILY_DESC,
					P.CUST_ACCT_ID, 
					L.LEAD_TYPE,  -- P.CNTRC_LEAD_ID,
					CR_MEMO_PROC_DT,
					LEFT(CONVERT(VARCHAR, P.CR_MEMO_PROC_DT,112),6),
					NATL_GRP_CD,
					P.CUST_CHN_ID,
					CASE 
						WHEN CUST_CHN_ID = '160' THEN 'INTER-DC TRANSFER' 
						WHEN [YYPRC_PRGTYP_CD] = '020' THEN 'NWN' 
						--WHEN P.GNRC_IND <> 'Y' THEN 'BRAND' 
						WHEN CNTRC_REF_NUM LIKE 'SG-%' and CNTRC_REF_NUM NOT LIKE 'SG-2%' THEN 'ONESTOP' 
						WHEN CNTRC_REF_NUM LIKE 'SG-2%' THEN 'OSS LEAD' 
						WHEN [YYPRC_PRGTYP_CD] = '013'  or  ([YYPRC_PRGTYP_CD] = '030' and GNRC_MS_IND = 'Y') THEN 'MS' 
						WHEN [YYPRC_PRGTYP_CD] = '030' OR CNTRC_LEAD_ID IS NULL OR CNTRC_LEAD_ID in (150969, 009104) OR LEAD_NAME LIKE '%NBOR%'  THEN 'NONSOURCE' 
						ELSE 'CONTRACT'                                               
					END
					--ITM.NS_Item_flg,
					--ITM.RAD_Inc_flg,
					--ITM.OS_Item_flg


) X  

WHERE SLS_QTY<>0;

IF OBJECT_ID('tempdb..#CURR_CUSTS') IS NOT NULL DROP TABLE #CURR_CUSTS;     
SELECT		DISTINCT V_CHN_SEGMENT_BY_CUST_TOT_SLS.CHN_ID
			,UPPER(V_CHN_SEGMENT_BY_CUST_TOT_SLS.CUSTOMER_NAME) AS CUSTOMER_NAME
			,CASE	WHEN V_CHN_SEGMENT_BY_CUST_TOT_SLS.FPA_SEGMENT LIKE 'RNA%' AND T_RNA_CHAINS.CHN_ID IS NULL 	THEN 'ISMC'
					ELSE V_CHN_SEGMENT_BY_CUST_TOT_SLS.FPA_SEGMENT END AS SEGMENT

INTO		#CURR_CUSTS 
FROM		GX_RPT.dbo.V_CHN_SEGMENT_BY_CUST_TOT_SLS    
			LEFT JOIN	GX_RPT.dbo.T_RNA_CHAINS			ON		V_CHN_SEGMENT_BY_CUST_TOT_SLS.CHN_ID = T_RNA_CHAINS.CHN_ID

WHERE		-- V_CHN_SEGMENT_BY_CUST_TOT_SLS.FPA_SEGMENT <> 'MHS - GOVERNMENT' AND 
				V_CHN_SEGMENT_BY_CUST_TOT_SLS.FPA_SEGMENT IS NOT NULL
			--AND	V_CHN_SEGMENT_BY_CUST_TOT_SLS.CUSTOMER_NAME NOT IN ('CVS HEALTH','WALGREENS','SUPERVALU','GIANT EAGLE','AHOLD');   -- Why remove this???

IF OBJECT_ID('tempdb..#NS_LAUNCH_ITEMS') IS NOT NULL DROP TABLE #NS_LAUNCH_ITEMS;
SELECT	I.NDC_NUM, S.EM_ITEM_NUM, RTRIM(I.SELL_DSCR) SELL_DSCR, MIN(S.PROC_DT) FIRST_SALE_DT
			,CASE WHEN SELL_DSCR LIKE '%ORC' THEN 'RELABELED' ELSE 'ACTIVE' END AS SKU_TYPE
INTO	#NS_LAUNCH_ITEMS 
FROM	OPS_SS_MCKSQL74.GX_RPT.DBO.T_NSTAR_SALES_HIST S WITH (NOLOCK)
		INNER JOIN REFERENCE.DBO.T_IW_EM_ITEM I WITH (NOLOCK)
		ON I.EM_ITEM_NUM = S.EM_ITEM_NUM
WHERE	NDC_NUM LIKE '16714%' 
		OR NDC_NUM LIKE '72603%'
		OR SPLR_ACCT_ID IN (77561,77568,77564,77565)
GROUP BY I.NDC_NUM, S.EM_ITEM_NUM, I.SELL_DSCR
ORDER BY MIN(S.PROC_DT);

IF object_id('tempdb..#Inj') is not null drop table #Inj
SELECT		E.EM_ITEM_NUM
			,CASE WHEN V_PRC_INJECT.EM_ITEM_NUM IS NOT NULL THEN 'Y' ELSE 'N' END INJECTABLE

INTO		#Inj
FROM		REFERENCE.DBO.T_IW_EM_ITEM E
		
LEFT JOIN	GEPRS_PRODUCT.EQV.V_EQV_ID_ITEMS EI
ON			E.EM_ITEM_NUM = EI.EM_ITEM_NUM

LEFT JOIN	PHOENIX.RBP.V_PRC_INJECT
ON			V_PRC_INJECT.EM_ITEM_NUM = E.EM_ITEM_NUM

IF OBJECT_ID('tempdb..#INCLUSIONS') IS NOT NULL DROP TABLE #INCLUSIONS
SELECT             DISTINCT I.EM_ITEM_NUM, IA.INCLUSION_IND
              ---    F.FORMULARY_DESC, F.FORMULARY_ID
              INTO #INCLUSIONS
FROM        PHOENIX.DBO.T_FORMULARY_ITEM AS FI
                         JOIN  PHOENIX.DBO.T_ITEM AS I              ON FI.ITEM_ID = I.ITEM_ID
                         JOIN  PHOENIX.DBO.T_ITEM_ATTRIBUTE AS IA   ON I.ITEM_ID = IA.ITEM_ID
                         JOIN  PHOENIX.DBO.T_FORMULARY F             ON FI.FORMULARY_ID = F.FORMULARY_ID            
WHERE       
--FI.FORMULARY_ID = 140                    -- FORMULARY ID
                      FI.END_DATE IS NULL                  -- CURRENT FORMULARY-ITEM RELATIONSHIP
                  AND IA.END_DATE IS NULL                  -- CURRENT ITEM-ATTRIBUTE RELATIONSHIP
                  AND I.ACTIVE_IND = 1
                  and IA.INCLUSION_IND = 1          -- 1 is inclusion
                  --AND (F.FORMULARY_DESC LIKE 'SYNERGX%' OR F.FORMULARY_DESC LIKE 'ONESTOP%')
                  --AND I.EM_ITEM_NUM IN ('3416625','3437738')   

IF OBJECT_ID('tempdb..#FINAL') IS NOT NULL DROP TABLE #FINAL
SELECT P.* , 
		NSCOST.TOTAL_COST * SLS_QTY AS LANDED_COST, 
		INC.INCLUSION_IND as ORDR_INCLUSION_IND,
		V.SPLR_ACCT_NAM,
		LI.FIRST_SALE_DT NS_Launch_dt,
		ACCT.CUST_ACCT_NAM,
		B.CUST_GRP_NAM, 
		C.NATL_GRP_NAM, 
		D.CUSTOMER_NAME, 
		D.SEGMENT,
		CS.SEGMENT as PGM_SEGMENT,
		E.INJECTABLE
INTO #FINAL
FROM #sls P 
	LEFT JOIN OPS_SS_MCKSQL74.GX_RPT.dbo.T_NSTAR_COST NSCOST ON  P.EM_ITEM_NUM = NSCOST.EM_ITEM_NUM 
			AND (P.SLS_PROC_WRK_DT BETWEEN NSCOST.prc_beg_dt AND NSCOST.prc_end_dt)
	LEFT JOIN  (SELECT CUST_ACCT_ID, CUST_ACCT_NAM FROM REFERENCE.dbo.T_IW_CUST_ACCT) ACCT ON P.CUST_ACCT_ID = ACCT.CUST_ACCT_ID
	LEFT JOIN  (SELECT CUST_GRP_CD, CUST_GRP_NAM FROM REFERENCE.dbo.T_IW_CUST_GRP) B ON P.SLS_CUST_CHN_ID = B.CUST_GRP_CD
	LEFT JOIN  (SELECT NATL_GRP_CD, NATL_GRP_NAM FROM REFERENCE.dbo.T_IW_CUST_NATL_GRP) C ON P.SLS_NATL_GRP_CD = C.NATL_GRP_CD
	LEFT JOIN  #CURR_CUSTS D								on P.SLS_CUST_CHN_ID = D.CHN_ID
	LEFT JOIN  (SELECT CUST_ACCT_ID, SEGMENT FROM GX_RPT.DBO.V_ALL_SEG_CUST_CURR) CS ON P.CUST_ACCT_ID = CS.CUST_ACCT_ID
	LEFT JOIN  #Inj E										on P.EM_ITEM_NUM = E.EM_ITEM_NUM
	LEFT JOIN #NS_LAUNCH_ITEMS LI						on P.EM_ITEM_NUM = LI.EM_ITEM_NUM
	LEFT JOIN #INCLUSIONS INC							on P.ORIGINAL_ECONO = INC.EM_ITEM_NUM
	LEFT JOIN (SELECT EM_ITEM_NUM, SPLR_ACCT_NAM FROM OPS_SS_MCKSQL74.REFERENCE.DBO.V_IW_EM_ITEM) V  on P.EM_ITEM_NUM = V.EM_ITEM_NUM


--DELETE FROM DASHBOARDS.DBO.T_GX_NSTR_VALUE_TRACKING WHERE YR_MONTH >= '202007'
--FINAL DATA FOR DASHBOARD
INSERT INTO DASHBOARDS.DBO.T_GX_NSTR_VALUE_TRACKING
--DROP TABLE DASHBOARDS.DBO.T_GX_NSTR_VALUE_TRACKING
SELECT YR_MONTH, SLS_PROC_WRK_DT, EM_ITEM_NUM, GNRC_NAM, SELL_DSCR, 
	 CASE WHEN CUST_ACCT_NAM IN ('PROFICIENT RX', 'PROFICIENT RX LP') THEN 'PROFICIENT RX' 
		  WHEN CUST_ACCT_NAM IN ('ENVISION RX') THEN 'ENVISION RX'
		  WHEN CUST_ACCT_ID IN ('040036') THEN 'NURX'
		  WHEN (CUST_ACCT_NAM like 'MARC''S%' or CUST_ACCT_NAM like 'MARC S%') THEN 'MARCS'
		  WHEN (CUST_ACCT_NAM like 'MEDSTAR%') THEN 'MEDSTAR'
		  WHEN (CUST_ACCT_NAM like 'ALTO PHARM%') THEN 'ALTO PHARMACY'
		  WHEN CUST_GRP_NAM like 'CARE RX%' THEN 'CARE RX'
		  WHEN CUST_GRP_NAM LIKE 'HI-SCHOOL%' THEN 'HI-SCHOOL'
		  WHEN CUST_GRP_NAM LIKE 'LEWIS DRUG%' THEN 'LEWIS_DRUG'
		  WHEN CUST_GRP_NAM LIKE 'HEB%' THEN 'HEB'
		  WHEN CUST_GRP_NAM LIKE 'MASTERS%' THEN 'MASTERS'
		  WHEN CUST_GRP_NAM LIKE 'OSBORN%' THEN 'OSBORN'
	      ELSE CUST_GRP_NAM END AS TARGET,
	 SUM(SLS_QTY) AS SLS_QTY, SUM(SLS_AMT) AS SLS_AMT, SUM(LANDED_COST) AS LANDED_COST, 
	 SUM(SLS_AMT) / NULLIF(SUM(SLS_QTY),0) AS UNIT_PRICE, 
	 SUM(LANDED_COST) / NULLIF(SUM(SLS_QTY),0) AS UNIT_LC 
--INTO DASHBOARDS.DBO.T_GX_NSTR_VALUE_TRACKING
FROM #FINAL
WHERE SPLR_ACCT_NAM LIKE 'NORTHSTAR%' AND SLS_QTY <> 0 AND --YR_MONTH > '202002' AND
	(CUST_GRP_NAM IN ('LEWIS DRUGS, INC.','WALMART','HI-SCHOOL VALUE','RITE AID','MEIJER','SUPERVALU','THRIFTY WHITE','HI-SCHOOL STANDARD',
	'KINNEY','LEWIS DRUG','OSBORN GROUP','DISCOUNT DRUG MART','HEB GROCERY','OSBORN','OSBORN CLOSED','PUBLIX','COSTCO','HI-SCHOOL CLOSED',
	'BARTELL''S','MASTERS RIVER CITY','MASTERS PHARMACEUTICAL DS','ALBERTSONS SAFEWAY','DOD MAIL ORDER','SCHNUCKS','GIANT EAGLE','OPTUMRX','WEGMAN',
	'CIGNA','PARTNERS','BIMART','CARE RX STANDARD','NURX')
	OR CUST_ACCT_NAM IN ('PROFICIENT RX', 'PROFICIENT RX LP') 
	OR CUST_ACCT_ID IN ('040036'))
	OR (CUST_ACCT_NAM LIKE 'MARC''S%' OR CUST_ACCT_NAM LIKE 'MARC S%')
	OR (CUST_ACCT_NAM LIKE 'MEDSTAR%')
	OR (CUST_ACCT_NAM like 'ALTO PHARM%')
	OR (CUST_ACCT_NAM LIKE 'ALBERTSONS%')	
	OR (CUST_GRP_NAM LIKE 'TOPCO%')
GROUP BY YR_MONTH, SLS_PROC_WRK_DT, EM_ITEM_NUM, GNRC_NAM, SELL_DSCR, 
	 CASE WHEN CUST_ACCT_NAM IN ('PROFICIENT RX', 'PROFICIENT RX LP') THEN 'PROFICIENT RX' 
		  WHEN CUST_ACCT_NAM IN ('ENVISION RX') THEN 'ENVISION RX'
		  WHEN CUST_ACCT_ID IN ('040036') THEN 'NURX'
		  WHEN (CUST_ACCT_NAM like 'MARC''S%' or CUST_ACCT_NAM like 'MARC S%') THEN 'MARCS'
		  WHEN (CUST_ACCT_NAM like 'MEDSTAR%') THEN 'MEDSTAR'
		  WHEN (CUST_ACCT_NAM like 'ALTO PHARM%') THEN 'ALTO PHARMACY'
		  WHEN CUST_GRP_NAM like 'CARE RX%' THEN 'CARE RX'
		  WHEN CUST_GRP_NAM LIKE 'HI-SCHOOL%' THEN 'HI-SCHOOL'
		  WHEN CUST_GRP_NAM LIKE 'LEWIS DRUG%' THEN 'LEWIS_DRUG'
		  WHEN CUST_GRP_NAM LIKE 'HEB%' THEN 'HEB'
		  WHEN CUST_GRP_NAM LIKE 'MASTERS%' THEN 'MASTERS'
		  WHEN CUST_GRP_NAM LIKE 'OSBORN%' THEN 'OSBORN'
	      ELSE CUST_GRP_NAM END;

--ADDING IN 'TBC' AS A "CUST GRP" IN CASES OF AWARDING AS A GROUP
INSERT INTO  DASHBOARDS.DBO.T_GX_NSTR_VALUE_TRACKING
SELECT YR_MONTH, SLS_PROC_WRK_DT, EM_ITEM_NUM, GNRC_NAM, SELL_DSCR, 
	 CASE WHEN CUST_GRP_NAM IN ('LEWIS DRUGS, INC.','LEWIS DRUG','MEIJER','THRIFTY WHITE','KINNEY','OSBORN GROUP','OSBORN','OSBORN CLOSED','HEB GROCERY') THEN 'TBC' 
		END AS TARGET,
	 SUM(SLS_QTY) AS SLS_QTY, SUM(SLS_AMT) AS SLS_AMT, SUM(LANDED_COST) AS LANDED_COST, 
	 SUM(SLS_AMT) / NULLIF(SUM(SLS_QTY),0) AS UNIT_PRICE, 
	 SUM(LANDED_COST) / NULLIF(SUM(SLS_QTY),0) AS UNIT_LC 
FROM #FINAL
WHERE SPLR_ACCT_NAM LIKE 'NORTHSTAR%' AND SLS_QTY <> 0 AND --YR_MONTH > '202002' AND 
	(CUST_GRP_NAM IN ('LEWIS DRUGS, INC.','LEWIS DRUG','MEIJER','THRIFTY WHITE','KINNEY','OSBORN GROUP','OSBORN','OSBORN CLOSED','HEB GROCERY'))
GROUP BY YR_MONTH, SLS_PROC_WRK_DT, EM_ITEM_NUM, GNRC_NAM, SELL_DSCR,
	 CASE WHEN CUST_GRP_NAM IN ('LEWIS DRUGS, INC.','LEWIS DRUG','MEIJER','THRIFTY WHITE','KINNEY','OSBORN GROUP','OSBORN','OSBORN CLOSED','HEB GROCERY') THEN 'TBC' 
		END;



--SELECT * 
--FROM REFERENCE.dbo.T_IW_CUST_GRP 
--order by CUST_GRP_NAM

--SELECT CUST_ACCT_ID, CUST_ACCT_NAM 
--FROM REFERENCE.dbo.T_IW_CUST_ACCT
--where cust_acct_nam like '%REMEDI%'
--order by CUST_ACCT_NAM

--select * from #CURR_CUSTS

END
