USE [GX_RPT]
GO
/****** Object:  StoredProcedure [dbo].[USP_RPT_NSTR_FLOOR_PRICE]    Script Date: 5/12/2020 2:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[USP_RPT_NSTR_FLOOR_PRICE]

AS

/********************************************************************************
** DESCRIPTION:  
**				       
** PROGRAMMER:     Phillip Allen, Jayden Cho

*********************************************************************************/
BEGIN



DECLARE @TODAY DATE = CAST(GETDATE() AS DATE);

IF OBJECT_ID('tempdb..#TIERS') IS NOT NULL DROP TABLE #TIERS;
CREATE TABLE #TIERS (
	MIN_MOH DECIMAL(18,4),
	MAX_MOH DECIMAL(18,4),
	PRCNT DECIMAL(18,4)
);

INSERT INTO #TIERS VALUES (0,0.9999,0.4);
INSERT INTO #TIERS VALUES (1,1.9999,0.35);
INSERT INTO #TIERS VALUES (2,6.9999,0.3);

--GET LAUNCH ITEMS (DEVELOPED FROM NS_RPT.dbo.USP_RPT_NS_LAUNCH_EM ON MCKSQL74)
IF OBJECT_ID('tempdb..#NS_LAUNCH_ITEMS') IS NOT NULL DROP TABLE #NS_LAUNCH_ITEMS;
SELECT	I.NDC_NUM, S.EM_ITEM_NUM, RTRIM(I.SELL_DSCR) SELL_DSCR, MIN(S.PROC_DT) FIRST_SALE_DT
			,CASE WHEN SELL_DSCR LIKE '%ORC' THEN 'RELABELED' ELSE 'ACTIVE' END AS SKU_TYPE
INTO	#NS_LAUNCH_ITEMS
FROM	OPS_SS_MCKSQL74.GX_RPT.DBO.T_NSTAR_SALES_HIST S WITH (NOLOCK)
		INNER JOIN REFERENCE.DBO.T_IW_EM_ITEM I WITH (NOLOCK)
		ON I.EM_ITEM_NUM = S.EM_ITEM_NUM
WHERE	NDC_NUM LIKE '16714%' 
		OR NDC_NUM LIKE '72603%'
		OR SPLR_ACCT_ID IN (77561,77568,77564,77565)
GROUP BY I.NDC_NUM, S.EM_ITEM_NUM, I.SELL_DSCR
ORDER BY MIN(S.PROC_DT);

IF OBJECT_ID('tempdb..#CFP') IS NOT NULL DROP TABLE #CFP;
CREATE TABLE #CFP (
	DT DATE,
	EM_ITEM_NUM CHAR(7),
	NS_COST DECIMAL(18,4),
	MOH DECIMAL(18,4),
	DN3 DECIMAL(18,4),
	PRCNT DECIMAL(18,4),
	FLOOR_PRICE DECIMAL(18,4),
	LAUNCH_DT DATE,
	RECENT_LAUNCH CHAR(7)
);
--select top 10 * from #NS_LAUNCH_ITEMS

INSERT INTO #CFP
SELECT	@TODAY DT
		,INV_DMND.EM_ITEM_NUM
		,INV_DMND.NS_COST
		,INV_DMND.TTL_MO_OH_NS_MCK MOH
		,T_ITEM_COST.AMT DN3
		,#TIERS.PRCNT
		,CASE WHEN INV_DMND.NS_COST*(1+#TIERS.PRCNT) <= T_ITEM_COST.AMT THEN INV_DMND.NS_COST*(1+#TIERS.PRCNT) ELSE T_ITEM_COST.AMT END FLOOR_PRICE
		,FIRST_SALE_DT LAUNCH_DT
		,CASE WHEN DATEDIFF(DAY, GETDATE(), FIRST_SALE_DT) >= -121.75 THEN 'YES' ELSE 'NO' END RECENT_LAUNCH

FROM	DASHBOARDS.dbo.USP_RPT_NORTHSTAR_INV_DMND INV_DMND --select top 10* from DASHBOARDS.dbo.USP_RPT_NORTHSTAR_INV_DMND

JOIN	#TIERS
ON		INV_DMND.TTL_MO_OH_NS_MCK BETWEEN #TIERS.MIN_MOH AND #TIERS.MAX_MOH

JOIN	GEPRS_DNC.dbo.T_ITEM_COST
ON		T_ITEM_COST.EM_ITEM_NUM = INV_DMND.EM_ITEM_NUM
AND		T_ITEM_COST.COST_ID = '34'
AND		@TODAY BETWEEN T_ITEM_COST.EFF_DT AND T_ITEM_COST.END_DT

LEFT JOIN #NS_LAUNCH_ITEMS LI
ON LI.EM_ITEM_NUM = INV_DMND.EM_ITEM_NUM

WHERE INV_DMND.ISM_OS_SLOT IS NOT NULL AND INV_DMND.ISM_OS_SLOT <> ''; --EXCLUDE 'BLANK' ISM_OS_SLOT, FLAG LAUNCH ITEMS

--SELECT TOP 200 * FROM #CFP ORDER BY LAUNCH_DT DESC;

/**
IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL DROP TABLE #TEMP;
CREATE TABLE #TEMP (
	EM_ITEM_NUM CHAR(7),
	FLOOR_PRICE DECIMAL(18,4),
	ACT_ITM_IND CHAR(1),
	BEG_DT DATE,
	END_DT DATE
);
**/

/*****INSERT NEW RECORD INTO FLOOR PRICE TABLE*****/
INSERT INTO GX_RPT.dbo.T_NS_FLR_PRC
SELECT	EM_ITEM_NUM
		,FLOOR_PRICE
		,'Y'
		,DT
		,'2099-12-31'

FROM	#CFP

WHERE	#CFP.EM_ITEM_NUM NOT IN (SELECT DISTINCT EM_ITEM_NUM FROM GX_RPT.dbo.T_NS_FLR_PRC WHERE ACT_ITM_IND = 'Y');
/*****END INSERT*****/


--SELECT * FROM GX_RPT.dbo.T_NS_FLR_PRC;
--UPDATE GX_RPT.dbo.T_NS_FLR_PRC SET FLOOR_PRICE = 1 WHERE EM_ITEM_NUM = 1904937

/*****UPDATE OLD RECORD*****/
--FIND CHANGED FP ITEMS
IF OBJECT_ID('tempdb..#CHANGED_ITEM') IS NOT NULL DROP TABLE #CHANGED_ITEM;
SELECT	#CFP.EM_ITEM_NUM

INTO	#CHANGED_ITEM
FROM	#CFP

JOIN	GX_RPT.dbo.T_NS_FLR_PRC
ON		#CFP.EM_ITEM_NUM = T_NS_FLR_PRC.EM_ITEM_NUM
AND		#CFP.FLOOR_PRICE <> T_NS_FLR_PRC.FLOOR_PRICE
AND		T_NS_FLR_PRC.ACT_ITM_IND = 'Y';


--UPDATE CURRENT RECORD
UPDATE	GX_RPT.dbo.T_NS_FLR_PRC
SET		END_DT = DATEADD(DAY,-1,@TODAY)
		,ACT_ITM_IND = 'N'

FROM	#CHANGED_ITEM
JOIN	GX_RPT.dbo.T_NS_FLR_PRC
ON		#CHANGED_ITEM.EM_ITEM_NUM = T_NS_FLR_PRC.EM_ITEM_NUM
AND		T_NS_FLR_PRC.ACT_ITM_IND = 'Y';


--INSERT NEW RECORD
INSERT INTO GX_RPT.dbo.T_NS_FLR_PRC
SELECT	#CFP.EM_ITEM_NUM
		,#CFP.FLOOR_PRICE
		,'Y'
		,#CFP.DT
		,'2099-12-31'

FROM	#CFP

JOIN	#CHANGED_ITEM
ON		#CFP.EM_ITEM_NUM = #CHANGED_ITEM.EM_ITEM_NUM;
/*****END UPDATE*****/


/*****DEACTIVATE OLD ITEMS*****/
UPDATE		GX_RPT.dbo.T_NS_FLR_PRC
SET			END_DT = DATEADD(DAY,-1,@TODAY)
			,ACT_ITM_IND = 'N'

FROM		GX_RPT.dbo.T_NS_FLR_PRC
LEFT JOIN	#CFP
ON			#CFP.EM_ITEM_NUM = T_NS_FLR_PRC.EM_ITEM_NUM

WHERE		#CFP.EM_ITEM_NUM IS NULL
AND			T_NS_FLR_PRC.ACT_ITM_IND = 'Y';
/*****END DEACTIVATE*****/


--SELECT * FROM GX_RPT.dbo.T_NS_FLR_PRC

/***** ADD ADDITIONAL INFO *****/
IF OBJECT_ID('tempdb..#CFP_2') IS NOT NULL DROP TABLE #CFP_2;
SELECT i.* 
	,A.NDC_NUM
	,A.SELL_DSCR
	,ISNULL('[ ' + ML.RESOLUTION + ' ]','') as MAX_LOG
	,ISNULL('[ ' + ML.SPECIFICS  + ' ]','') as MAX_LOG_SPECIFICS
	,ISNULL('[ ' + ML.MORE_INFO  + ' ]','') as MAX_LOG_MORE_INFO
INTO #CFP_2
FROM #CFP i
LEFT JOIN REFERENCE.DBO.T_ITEM_MCNS ML		ON i.EM_ITEM_NUM = ML.EM_ITEM_NUM
LEFT JOIN REFERENCE.dbo.T_IW_EM_ITEM A		ON i.EM_ITEM_NUM = A.EM_ITEM_NUM;

--SELECT TOP 10 * FROM #CFP_2

/**CREATE VIEW**/
--DROP VIEW GX_RPT.dbo.V_NS_FLR_PRC
DROP TABLE GX_RPT.dbo.T_NS_FLR_PRC_LAUNCH
SELECT * 
INTO GX_RPT.dbo.T_NS_FLR_PRC_LAUNCH   -- select * from GX_RPT.dbo.T_NS_FLR_PRC_LAUNCH 
FROM #CFP_2

/**
SELECT		T_NS_FLR_PRC.EM_ITEM_NUM
			,CASE WHEN T_NS_FLR_PRC_MAN_OVRRD.EM_ITEM_NUM IS NOT NULL THEN T_NS_FLR_PRC_MAN_OVRRD.FLOOR_PRICE ELSE T_NS_FLR_PRC.FLOOR_PRICE END FLOOR_PRICE
			,CASE WHEN T_NS_FLR_PRC_MAN_OVRRD.EM_ITEM_NUM IS NOT NULL THEN 'Y' ELSE T_NS_FLR_PRC.ACT_ITM_IND END ACT_ITM_IND
			,CASE WHEN T_NS_FLR_PRC_MAN_OVRRD.EM_ITEM_NUM IS NOT NULL THEN T_NS_FLR_PRC_MAN_OVRRD.BEG_DT ELSE T_NS_FLR_PRC.BEG_DT END BEG_DT
			,T_NS_FLR_PRC.END_DT

FROM		GX_RPT.dbo.T_NS_FLR_PRC

LEFT JOIN	GX_RPT.dbo.T_NS_FLR_PRC_MAN_OVRRD
ON			T_NS_FLR_PRC.EM_ITEM_NUM = T_NS_FLR_PRC_MAN_OVRRD.EM_ITEM_NUM;
**/

/**VIEW TESTING
DELETE FROM GX_RPT.dbo.T_NS_FLR_PRC_MAN_OVRRD
INSERT INTO GX_RPT.dbo.T_NS_FLR_PRC_MAN_OVRRD VALUES (1904937,1,CAST(GETDATE() AS DATE))
SELECT * FROM GX_RPT.dbo.T_NS_FLR_PRC_MAN_OVRRD
SELECT * FROM GX_RPT.dbo.V_NS_FLR_PRC ORDER BY END_DT
SELECT * FROM #CFP WHERE EM_ITEM_NUM IN (3669652	,
3772514	,
3608205	,
3788973	,
3789013	,
3281979	,
3606621	,
3683653	,
2134054	,
3936754	,
2035079,	
3758778) ORDER BY EM_ITEM_NUM
--**/





 END



